#site-head {
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.navigation li a{
	font-size: 16px !important;
}
.navigation li a:hover{
	color: #03a9f4 !important;
}